<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	<div class="container">
		<div class="row">
			<h1 class="col-xl-12">Listing for Training</h1>
		</div>

			<f:flashMessages />
			<f:widget.paginate objects="{trainings}" as="paginatedTrainings"  configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
				<f:for each="{paginatedTrainings}" as="training">
					<div class="row">
						<h2 class="xl-12">{training.title}</h2>
						<h3><f:format.raw>{training.description} </f:format.raw> </h3>
						<f:link.action action="show" arguments="{training : training}">View</f:link.action>
					</div>
				</f:for>
			 </f:widget.paginate>
		</div>
	</f:section>
</html>