<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	<div class="container-fluid d-flex justify-content-center align-items-center ">
		<h1 class="row col-sm-12 text-center">{training.title}</h1>

		<f:flashMessages />
		
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.domain" />
				 {training.domain} </div>
			
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.date_start" />
				 {training.dateStart -> f:format.date()} </div>
			
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.date_end" />
				 {training.dateEnd -> f:format.date()} </div>
			
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.degree" />
				 {training.degree} </div>
			
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.lication" />
				 {training.lication} </div>
			
			<div class="row">
				<f:translate key="tx_portfoliocs_domain_model_training.description" />	
				 <f:format.raw>{training.description} </f:format.raw> </div>
			
		




		<f:link.action action="list">Back to list</f:link.action><br />
	</div>
	</f:section>
</html>