<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Liste des profils</h1>
		<hr>
		<f:flashMessages />

			<f:for each="{profiles}" as="profile">
				<div class="row" style="text-align: center">
					<div class="col-xs-12 col-lg-3">
						<f:format.raw>
								<f:image height="111" src="/fileadmin/user_upload/{profile.photo.originalResource.name}" alt="Photo de profil de {profile.name} {profile.lastname}" />
						</f:format.raw>
					</div>
					<div class="col-xs-12 col-lg-3">
						<f:format.raw>{profile.name}</f:format.raw>
					</div>
					<div class="col-xs-12 col-lg-3 ">
						<f:format.raw>{profile.lastname}</f:format.raw>
					</div>
					<div class="col-xs-12 col-lg-3">
						<f:link.action class="btn btn-primary" action="show" arguments="{profile : profile}">Visionner</f:link.action>
					</div>
				</div>
				<hr>
			</f:for>

		<f:link.action action="new" class="btn btn-primary">New Profile</f:link.action>
	</f:section>
</html>