<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-portfolio-cs" >
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.lastname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.birth_day" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.driving_licence" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.phone" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.mail" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfoliocs_domain_model_profile.photo" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>